.container{
  margin:100px;
  width:100%;
  min-width: 1000px;
  height: auto;
}

@media screen and (max-width: 768px) {
    .b {
         width: 300px;
         height: auto;
    }
}
@media screen and (max-width: 900px) {
    .c {
         width: 400px;
         height: auto;
    }
}
@media screen and (max-width: 768px) {
    .c {
         width: -5%;
         height: auto;
    }
}
.modal{
  display:none;
  position: fixed;
  z-index:1;
  margin:auto;
  width:80%;
  height:auto;
  
 margin-top: 40px;
  background-color: rgba(0,0,0,0);

}
.modal-content{
    background-color: rgb(178, 186, 187);
  margin:4% auto 15% auto;

  width:40%;
  padding:10px;
}
.close{
  position: absolute;
  right:50px;
  top:0px;
  color:gray;
  font-size:30px;
  font-weight: bold;
}
.close:hover{
  color:red;
}
.animate{
  animation: zoom 0.6s
}
@keyframes  zoom {
  from {transform:scale(0)}
  to {transform: scale(1)}
}
