<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
      <!-- <link rel="stylesheet" href="{% static "donate/static/css/donate.css" %}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="icon" type="image/jpg" href="https://thumbs.dreamstime.com/z/helping-hands-logo-26194570.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Help_Kerala:Donation Portal</title>
    <style >
     a:hover{
       color:black;
     }

      @import url(http://weloveiconfonts.com/api/?family=entypo);
      #wrapper{
      margin-top: 30px;

      }
      .box1{

        border-radius: 50px;
        font-family: 'entypo', sans-serif;
        border-radius: 100px;
        color:rgb(208, 211, 212);
        margin:20px;
        font-size: 25px;
        display: inline;
        cursor:pointer;
      }
    </style>
  </head>
  <body>

    <header id="luxbar" class="luxbar-fixed" >
        <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
        <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-amber">
            <ul class="luxbar-navigation">

                <li class="luxbar-header">
                  <br>
                    <a href="/" class="luxbar-brand" style="font-size:40px;"><img style="margin-top:-10px;height:50px;" src="{% static "images/logo.jpg" %}"> </a>
                      <a class="nav-link" href="/" style="font-size:25px; color:gray;font-family: 'PT Sans', sans-serif;"><strong>Help_Kerala</strong> <span class="sr-only">(current)</span></a>
                    <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                    id="luxbar-hamburger" for="luxbar-checkbox"><span style="margin-right:10px;font-size:20px;"></span> </label>
                </li>
                <li class="luxbar-item" style="font-size:20px;"><a  href="/#about">About Us</a></li>
                <li class="luxbar-item" style="font-size:20px;"><a href="{% url 'donate' %}">Donate</a></li>
                <li class="luxbar-item" style="font-size:20px;"><a  href="{% url 'complaint:cc' %}">Complaint</a></li>
                <li class="luxbar-item" style="font-size:20px;"><a href="{% url 'medical:medical1' %}">Medical</a></li>
                  <li class="luxbar-item" style="font-size:20px;"><a href="{% url 'statistics' %}">Statistics</a></li>
                <li class="luxbar-item" style="font-size:20px;"><a href="{% url 'accounts:signup' %}">SignUp</a></li>

                {% if user.is_authenticated %}
                <li class="luxbar-item" style="font-size:20px;" style="height:100%;font-size:20px;"><a href="{% url 'accounts:logout' %}">LogOut</a></li>
                {% else %}
                <li class="luxbar-item" style="font-size:20px;"><a href="{% url 'accounts:login' %}">LogIn</a></li>
                {%endif%}

            </ul>
        </div>
    </header>


    {% if messages %}

        {% for msg in messages %}

            <div class="alert alert-{{msg.level_tag}} text-center " style="margin-left:20%;margin-right:20%;" role="alert">
            {{msg.message}}
            </div>

        {% endfor %}


    {% endif %}



{% block content %}
{% endblock %}

  </body>
</html>
