{% extends "base.html" %}
{% block content %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <style media="screen">
   div{
            margin: 0;
            padding: 0;
        }
        #box11{
            height: 100vh;
            width: 100%;
            background-image: url('static/images/donate.jpg');
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        #box2{
            height: 100vh;
            width: 100%;
            background-image: url('static/images/medical.jpg');
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        #box3{
            height: 100vh;
            width: 100%;
            background-image: url('static/images/C.jpg');
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }

        #box4{
            height: 100vh;
            width: 100%;
            background-image: url('static/images/weather.jpg');
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        h1{
            font-family: arial black;
            font-size: 60px;
            color:white;
            margin : 0px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        p{
             font-family: arial black;
            font-size: 30px;
            color:white;
            margin: 0px;
            vertical-align: middle;
            text-align: center;
            display: table-row;
            }

 </style>

 <div id="box11">
            <h1><a style="color:white;text-decoration:none;" href="{% url 'donate' %}">DONATE</a></h1>
            <p>Kerala is suffering from massive flood havoc.Hundereds of lives have been lost and thousands have become homeless.Donate to the Chief Minister fund and show contribution.</p>
        </div>
        <div id="box2">
            <h1>MEDICAL</h1>
            <p> To provide the best medical facilities to the affected area. </p>
</div>
        <!-- <div id="box3">
            <h1>COMPLAINTS</h1>
            <p></p>
        </div> -->

        <div id="box4">
            <h1><a style="color:white;text-decoration:none;" href="{% url 'weatherr:weather1' %}">PREDICT WEATHER</a></h1>
            <p>Determine the weather of different regions and get updated.</p>
        </div>

<br><br>
<!-- begin -->
<div  class="tt" style="font-size:30px;background-color:rgb(44, 62, 80  );color:white;">
<div class="row">
<div class="col-lg-3 col-sm-3 thumbnail " style="border:2px solid white;">
8,396 <br>
Donors
</div>
<div class="col-lg-3 col-sm-3 thumbnail" style="border:2px solid white;">
  &#8377;50,49,008<br>
  Raised
</div>
<div class="col-lg-3 col-sm-3 thumbnail" style="border:2px solid white;">
  &#8377;5,89,009<br>
  Expenditure
</div>
<div class="col-lg-3 col-sm-3 thumbnail" style="border:2px solid white;">
12<br>
Countries
</div>
</div>


</div><br>
<div class="container contmain2" style="width:100%;height:400px;">
<div id="about">
About Us
</div>
<div class="" style="border-bottom:3px solid rgb(86, 101, 115); height:8%;width:50%;margin-left:25%;"></div>
<div class="col-lg-12 col-xs-4" style="height:auto;color:rgb(44, 62, 80);font-size:50%;">
Kerala has been hit by the worst floods in a 100 years. The Kerala Government estimates Rs. 21,000 crore will be needed to rebuild the state.
The funds are required to rebuild hundreds of flooded villages, thousands of damaged and destroyed homes and 10,000 kilometres of ravaged roads.
We are a Non-Profitable Organisation to provide help to them.
<!--<b><a href="#" style="color:black;">#Help_Kerala.</a></b> -->

</div>
</div>
</div>



{% endblock %}
