{% extends "base.html" %}
{% block content %}
<table>
<tbody>
<tr height="29">
<td colspan="8" height="29" width="476">District-wise splitup of allotment in Crores</td>
</tr>
<tr>
{% for i in p %}
<td bgcolor="#85C1D9" colspan="2">{{ i }}</td>
{% endfor %}
</tr>
<tr>
{% for i in q %}
<td style="padding:5px;"bgcolor="#85C1D9" >{{ i }}</td>
{% endfor %}

{% for i in r %}
<td style="padding:5px;"bgcolor="#85C1D9" >{{ i }}</td>
{% endfor %}

{% for i in s %}
<td style="padding:5px;"bgcolor="#85C1D9" >{{ i }}</td>
{% endfor %}
</tr>

<!-- .................................................. -->
<tr>
<td>{{  }}</td>
<td>Thiruvananthapuram</td>
<td>2831</td>
<td>1.76</td>
<td>3098</td>
<td>28.00</td>
<td>28.00</td>
<td>100%</td>
</tr>
<tr>
<td>2</td>
<td>Kollam</td>
<td>7012</td>
<td>4.35</td>
<td>3199</td>
<td>15.38</td>
<td>15.38</td>
<td>100%</td>
</tr>
<tr>
<td>3</td>
<td>Pathanamthitta</td>
<td>52843</td>
<td>32.76</td>
<td>15597</td>
<td>88.23</td>
<td>88.23</td>
<td>100%</td>
</tr>
<tr>
<td>4</td>
<td>Alappuzha</td>
<td>166345</td>
<td>103.13</td>
<td>63755</td>
<td>252.01</td>
<td>252.01</td>
<td>100%</td>
</tr>
<tr>
<td>5</td>
<td>Kottayam</td>
<td>86780</td>
<td>53.80</td>
<td>18432</td>
<td>82.88</td>
<td>82.88</td>
<td>100%</td>
</tr>
<tr>
<td>6</td>
<td>Idukki</td>
<td>10630</td>
<td>6.59</td>
<td>9096</td>
<td>118.16</td>
<td>118.16</td>
<td>100%</td>
</tr>
<tr>
<td>7</td>
<td>Ernakulam</td>
<td>193448</td>
<td>119.94</td>
<td>79188</td>
<td>250.81</td>
<td>250.81</td>
<td>100%</td>
</tr>
<tr>
<td>8</td>
<td>Thrissur</td>
<td>135784</td>
<td>84.19</td>
<td>24715</td>
<td>219.45</td>
<td>219.45</td>
<td>100%</td>
</tr>
<tr>
<td>9</td>
<td>Palakkad</td>
<td>8067</td>
<td>5.07</td>
<td>8040</td>
<td>90.10</td>
<td>90.10</td>
<td>100%</td>
</tr>
<tr>
<td>10</td>
<td>Malappuram*</td>
<td>40621</td>
<td>25.19</td>
<td>7538</td>
<td>41.44</td>
<td>41.44</td>
<td>100%</td>
</tr>
<tr>
<td>11</td>
<td>Kozhikkode</td>
<td>24708</td>
<td>15.32</td>
<td>5301</td>
<td>28.96</td>
<td>28.96</td>
<td>100%</td>
</tr>
<tr>
<td>12</td>
<td>Wayanad</td>
<td>8100</td>
<td>5.02</td>
<td>7629</td>
<td>45.00</td>
<td>45.00</td>
<td>100%</td>
</tr>
<tr>
<td>13</td>
<td>Kannur</td>
<td>293</td>
<td>0.18</td>
<td>1747</td>
<td>11.59</td>
<td>11.59</td>
<td>100%</td>
</tr>
<tr>
<td>14</td>
<td>Kasargod</td>
<td>13</td>
<td>0.01</td>
<td>331</td>
<td>3.39</td>
<td>3.39</td>
<td>100%</td>
</tr>
<tr>
<td> </td>
<td><strong>Total</strong></td>
<td><strong>737475</strong></td>
<td><strong>457.30</strong></td>
<td><strong>247666</strong></td>
<td><strong>1275.40</strong></td>
<td><strong>1275.40</strong></td>
<td> </td>
</tr>-->
</tbody>
</table>





{% endblock %}
